<div class="cart">
  <div *ngIf="cartProducts.length === 0" class="cart__empty">
    <p class="cart__empty-text">- Your cart is empty -</p>
  </div>
  <div *ngIf="cartProducts.length !== 0" class="cart__wrapper">
    <h2 class="heading-primary">cart content</h2>
    <p class="cart__article-number">4 article(s)</p>
    <div class="cart__product-list">
      <div *ngFor="let product of cartProducts" class="cart-product">
        <app-cart-product [cartProduct]="product"></app-cart-product>
      </div>
    </div>
    <div class="cart__footer">
      <div class="cart__pricing">
        <p class="cart__price"><span>Total : </span>12.49 $</p>
        <p class="cart__tva">TVA includes</p>
      </div>
      <button class="cart__buy">buy products</button>
    </div>
  </div>
</div>
