.heading-primary {
  font-size: 4.5rem;
  font-weight: lighter;
}

.heading-tertiary {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: $grey-color;
}
.heading-fourth {
  font-size: 1.5rem;
  text-transform: uppercase;
}
