<div class="shipping-form">
  <h1 class="heading-primary shipping-form__heading-1">
    Please enter the delivery details
  </h1>

  <form
    [formGroup]="shippForm"
    class="shipping-form__form"
    (ngSubmit)="submitShippingForm()"
  >
    <div class="radio-button-group">
      <div class="radio-button-group__group">
        <input
          class="radio-button-group__input"
          type="radio"
          name="type"
          id="personnal"
          value="personnal"
          formControlName="type"
          checked
        />
        <label class="radio-button-group__label" for="personnal">
          <span class="radio-button-group__custom-radio"></span>
          personnal
        </label>
      </div>
      <div class="radio-button-group__group">
        <input
          class="radio-button-group__input"
          type="radio"
          name="type"
          id="business"
          formControlName="type"
          value="business"
        />
        <label class="radio-button-group__label" for="business">
          <span class="radio-button-group__custom-radio"></span>
          business
        </label>
      </div>
    </div>
    <div class="shipping-form__form-group">
      <input
        formControlName="name"
        placeholder="Name"
        type="text"
        name="name"
        class="shipping-form__input"
      />
      <label for="" class="shipping-form__label"
        >name
        <span
          class="text-danger"
          *ngIf="
            shippForm.get('name')?.invalid && shippForm.get('name')?.touched
          "
          >(invalid name: must have at least 3 characters)</span
        ></label
      >
    </div>
    <div class="shipping-form__form-group">
      <input
        formControlName="surname"
        placeholder="Surname"
        type="text"
        name="surname"
        class="shipping-form__input"
      />
      <label for="" class="shipping-form__label"
        >surname
        <span
          *ngIf="
            shippForm.get('surname')?.invalid &&
            shippForm.get('surname')?.touched
          "
          class="text-danger"
          >(invalid surname: must have at least 3 characters)</span
        ></label
      >
    </div>
    <div class="shipping-form__form-group">
      <input
        formControlName="address"
        placeholder="address"
        type="text"
        name="address"
        class="shipping-form__input"
      />
      <label for="" class="shipping-form__label"
        >address
        <span
          *ngIf="
            shippForm.get('address')?.invalid &&
            shippForm.get('address')?.touched
          "
          class="text-danger"
          >(invalid address: must have at least 5 characters)</span
        ></label
      >
    </div>
    <div class="shipping-form__form-group">
      <input
        formControlName="postZip"
        placeholder="Post Code / Zip"
        type="number"
        name="postOrZip"
        class="shipping-form__input"
      />
      <label for="" class="shipping-form__label"
        >post code / Zip
        <span
          *ngIf="
            shippForm.get('postZip')?.invalid &&
            shippForm.get('postZip')?.touched
          "
          class="text-danger"
          >(invalid zip or postcode: must have 5 numbers)</span
        ></label
      >
    </div>
    <div class="shipping-form__form-group">
      <input
        formControlName="number"
        placeholder="number"
        type="number"
        name="number"
        class="shipping-form__input"
      />
      <label for="" class="shipping-form__label"
        >phone number
        <span
          *ngIf="
            shippForm.get('number')?.invalid && shippForm.get('number')?.touched
          "
          class="text-danger"
          >(invalid phone number : at least 10 numbers)</span
        ></label
      >
    </div>
    <div class="shipping-form__form-group">
      <input
        formControlName="town"
        placeholder="Town"
        type="text"
        name="town"
        class="shipping-form__input"
      />
      <label for="" class="shipping-form__label"
        >town
        <span
          *ngIf="
            shippForm.get('town')?.invalid && shippForm.get('town')?.touched
          "
          class="text-danger"
          >(invalid town: at least 3 characters)</span
        ></label
      >
    </div>
    <div class="shipping-form__form-group">
      <input
        formControlName="country"
        placeholder="Country"
        type="text"
        name="country"
        class="shipping-form__input"
      />
      <label for="" class="shipping-form__label"
        >country
        <span
          *ngIf="
            shippForm.get('country')?.invalid &&
            shippForm.get('country')?.touched
          "
          class="text-danger"
          >(invalid country : at least 3 characters)</span
        ></label
      >
    </div>
    <div class="shipping-form__form-group"></div>
    <input
      class="shipping-form__form-group shipping-form__form-group--submit"
      type="submit"
      value="Next"
      [disabled]="shippForm.invalid"
    />
  </form>
</div>
