<div *ngIf="step !== 2">
  <div class="footer-checkout">
    <button
      routerLink="/cart"
      class="footer-checkout__btn footer-checkout__btn--back"
    >
      back to Cart
    </button>
    <p class="footer-checkout__checkout">Total : {{ total }}$</p>
    <!-- <button
      (click)="nextStep()"
      class="footer-checkout__btn footer-checkout__btn--place"
    >
      <div *ngIf="step !== 2 && step !== 1">Next</div>
      <div *ngIf="step === 1">Place Order</div>
    </button> -->
  </div>
</div>
