<div class="cart-light">
  <h2 class="heading-secondary u-margin-bottom">panier d'achat</h2>
  <div class="cart-light__wrapper">
    <div *ngFor="let product of products" class="product-cart-light">
      <div class="product-cart-light__desc">
        <p class="product-cart-light__title">{{ product.name }}</p>
        <p class="product-cart-light__price">{{ product.price }} $</p>
        <p class="product-cart-light__quantity">x{{ product.quantity }}</p>
      </div>

      <img
        src="{{ product.url }}"
        alt="{{ product.alt }}"
        class="product-cart-light__img"
      />
    </div>
  </div>
  <div class="cart-light__to-cart">
    <button routerLink="/cart" class="cart-light__btn">
      ({{ calcTotal() }} $) go to cart
    </button>
  </div>
</div>
