<div class="product-detail">
  <div class="product-detail__left">
    <div class="product-detail__title-ctrl">
      <h3 class="heading-tertiary">Made For aging Sun</h3>
      <h3 class="heading-primary">{{ currentProduct.name }}</h3>
      <p class="product-detail__usage">
        {{ currentProduct.shortDesc }}
      </p>
      <p class="product-detail__price">${{ currentProduct.price }}</p>
      <div class="product-detail__add-cart">
        <div class="product-detail__quantity">
          <span class="product-detail__minus" (click)="removeOneQuantity()"
            >-</span
          >
          <span>{{ currentProduct.quantity }}</span>
          <span class="product-detail__plus" (click)="addOneQuantity()">+</span>
        </div>
        <button
          class="product-detail__button btn-primary"
          (click)="addProductToCart()"
        >
          add to bag
        </button>
      </div>
    </div>
    <div class="product-detail__image-wrapper">
      <img
        src="{{ currentProduct.url }}"
        alt="{{ currentProduct.alt }}"
        class="product-detail__image"
      />
    </div>
  </div>
  <div class="product-detail__right">
    <div class="product-detail__product-desc">
      <h4 class="heading-fourth">product description</h4>
      <p class="product-detail__description">
        {{ currentProduct.description }}
      </p>
      <ul class="product-detail__caracteristics">
        <li class="product-detail__caracteristics-item">
          {{ currentProduct.contain }}
        </li>
        <li class="product-detail__caracteristics-item">
          {{ currentProduct.composition }}
        </li>
      </ul>
    </div>
  </div>
</div>
