@import "../../../sass/abstracts/variables";

.product-item {
  flex: 0 0 100%;
  margin-bottom: 5rem;
  &__image {
    width: 100%;
  }

  &__detail {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
  }

  &__link {
    font-size: 1.7rem;
    text-decoration: none;
    color: #000;

    &:hover {
      color: rgb(141, 141, 141);
      text-decoration: underline;
    }
  }

  &__desc {
    padding: 1rem 0;
  }

  &__price {
    font-size: 1.4rem;
  }
}
