<div class="product-list">
  <div class="product-list__wrapper">
    <div class="product-item">
      <img
        src="https://static.zara.net/photos///2021/V/2/1/p/0120/056/999/2/w/444/0120056999_6_1_1.jpg?ts=1610619852871"
        alt=""
        class="product-item__image"
      />
      <div class="product-item__detail">
        <div class="product-item__title-desc">
          <a href="#" class="product-item__link">Oriantal 200ml</a>
          <p class="product-item__desc">Floral and white wood sent</p>
        </div>
        <p class="product-item__price">$19.99</p>
      </div>
    </div>
    <div class="product-item">
      <img
        src="https://static.zara.net/photos///2021/V/2/1/p/0120/056/999/2/w/444/0120056999_6_1_1.jpg?ts=1610619852871"
        alt=""
        class="product-item__image"
      />
      <div class="product-item__detail">
        <div class="product-item__title-desc">
          <a href="#" class="product-item__link">Oriantal 200ml</a>
          <p class="product-item__desc">Floral and white wood sent</p>
        </div>
        <p class="product-item__price">$19.99</p>
      </div>
    </div>
    <div class="product-item">
      <img
        src="https://static.zara.net/photos///2021/I/2/1/p/0120/015/999/2/w/444/0120015999_6_1_1.jpg?ts=1625208679066"
        alt=""
        class="product-item__image"
      />
      <div class="product-item__detail">
        <div class="product-item__title-desc">
          <a href="#" class="product-item__link">Oriantal 200ml</a>
          <p class="product-item__desc">Floral and white wood sent</p>
        </div>
        <p class="product-item__price">$19.99</p>
      </div>
    </div>

    <div class="product-item">
      <img
        src="https://static.zara.net/photos///2021/I/2/1/p/0120/015/999/2/w/444/0120015999_6_1_1.jpg?ts=1625208679066"
        alt=""
        class="product-item__image"
      />
      <div class="product-item__detail">
        <div class="product-item__title-desc">
          <a href="#" class="product-item__link">Oriantal 200ml</a>
          <p class="product-item__desc">Floral and white wood sent</p>
        </div>
        <p class="product-item__price">$19.99</p>
      </div>
    </div>

    <div class="product-item">
      <img
        src="https://static.zara.net/photos///2021/V/2/1/p/0120/423/999/2/w/444/0120423999_6_1_1.jpg?ts=1610615619954"
        alt=""
        class="product-item__image"
      />
      <div class="product-item__detail">
        <div class="product-item__title-desc">
          <a href="#" class="product-item__link">Oriantal 200ml</a>
          <p class="product-item__desc">Floral and white wood sent</p>
        </div>
        <p class="product-item__price">$19.99</p>
      </div>
    </div>

    <div class="product-item">
      <img
        src="https://static.zara.net/photos///2021/I/2/1/p/0120/015/999/2/w/444/0120015999_6_1_1.jpg?ts=1625208679066"
        alt=""
        class="product-item__image"
      />
      <div class="product-item__detail">
        <div class="product-item__title-desc">
          <a href="#" class="product-item__link">Oriantal 200ml</a>
          <p class="product-item__desc">Floral and white wood sent</p>
        </div>
        <p class="product-item__price">$19.99</p>
      </div>
    </div>
  </div>
</div>
