<div class="cart-product__wrapper">
  <img
    src="https://static.zara.net/photos///2021/V/2/1/p/0120/056/999/2/w/444/0120056999_6_1_1.jpg?ts=1610619852871"
    alt=""
    class="cart-product__img"
  />
  <div class="cart-product__detail">
    <p class="cart-product__title">{{ cartProduct.name }}</p>
    <p class="cart-product__price">{{ cartProduct.price }} $</p>
    <p class="cart-product__quantity">x{{ cartProduct.quantity }}</p>
    <div class="cart-product__add-rm">
      <span class="cart-product__rm">-</span>
      <span>1</span>
      <span class="cart-product__add">+</span>
    </div>
  </div>
</div>
