<div *ngIf="cart.length > 0">
  <div *ngIf="step !== 'card' && step !== 'done'" [@inOutAnimation]>
    <app-navbar-checkout [step]="step"></app-navbar-checkout>
    <app-shipping-form (step)="changeStep()"></app-shipping-form>
    <app-footer-checkout></app-footer-checkout>
  </div>
  <div *ngIf="step === 'card'" [@inOutAnimation]>
    <app-navbar-checkout [step]="step"></app-navbar-checkout>
    <app-checkout-form (step)="changeStep()"></app-checkout-form>
    <app-footer-checkout></app-footer-checkout>
  </div>
  <div *ngIf="step === 'done'" [@inOutAnimation]>
    <app-navbar-checkout [step]="step"></app-navbar-checkout
    ><app-resume></app-resume>
  </div>
</div>
<div class="checkout-404" *ngIf="cart.length <= 0">
  <p class="checkout-404__logo">VERSED</p>
  <div class="checkout-404__wrapper">
    <h1 class="checkout-404__h1">Page cannot be accessed</h1>
    <h2 class="checkout-404__h2">
      You must have product in cart to proceed to chekout
    </h2>
    <a routerLink="/" class="checkout-404__home-btn">go back to home page</a>
  </div>
</div>
