@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts//mixins";
@import "../../../sass/base/base";
@import "../../../sass/base/typography";

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 55vh;
  flex-direction: column;
  &__btn {
    margin-top: 3rem;
    padding: 3rem;
    text-transform: uppercase;
    font-size: 1.7rem;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      background-color: transparent;
      color: #000;
    }
  }
  &__wrapper {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 4rem;
    background-color: $background-color-1;
    &--2 {
      padding: 4rem 3rem;
      background-color: #fff;
    }
  }
}
